* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* intially styling for body */

body {
    text-align: center;
    font-family: "antiquarian", sans-serif;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
}

/* style for heading and score */
header {
    height: 20vh;
    align-self: center;
}

.score {
    height: 20vh;
}

.input-area {
    height: 60vh;
}

h1 {
    font-size: 300%;
    padding-top: 5%;

}

h2 {
    font-size: 600%;

}

/* style for score area */

p {
    font-size: 200%;
}

.points {
    font-size: 500%
}

button {
    width: 3em;
    height: 3em;
}

.input-area {
    display: flex;
    flex-flow: row;
    height: 50vh;
}

.input-area>div {

    text-align: center;
    width: 25%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
}

.score-tracker-container>input,
label {
    font-size: 200%;
    text-align: center;
}

input {
    margin-right: auto;
    margin-left: auto;
    font-family: "antiquarian", sans-serif;
    font-size: 400%;
    width: 30%;
    text-align: center;
    justify-self: center;
    border-style: hidden;
    background-color: transparent;


}

input[type="number"] {
    font-size: 500%;
}