* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* intially styling for body */

body {
    text-align: center;
    font-family: "antiquarian", sans-serif;

}

/* style for heading and score */

h1 {
    font-size: 500%;
    padding: 1rem;
}

h2 {
    font-size: 600%;
    padding: 2rem;
}

/* style for score area */

.input-area {
    display: flex;
    flex-flow: row;
}

.input-area>div {
    text-align: center;
    width: 25%;
    display: flex;
    flex-flow: column;
    padding: 2rem;
}