* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* intially styling for body */

body {
    text-align: center;
    font-family: "antiquarian", sans-serif;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    background-image: url("../imgs/background.jpg");
    background-size: 100%;
}

/* style for heading and score */
header {
    height: 25vh;
    align-self: center;
}

.score {
    height: 25vh;
}

h1 {
    font-size: 300%;
    padding-top: 5%;

}

h2 {
    font-size: 600%;

}

/* style for score area */

.input-area {
    display: flex;
    flex-flow: row;
    height: 50vh;
}

.input-area>div {
    text-align: center;
    width: 25%;
    display: flex;
    flex-flow: column;
    padding: 2rem;
    justify-content: center;
    align-content: center;
}

.score-tracker-container>input,
label {
    font-size: 200%;
    text-align: center;
}

input {
    /* width: 25%; */
    text-align: center;
}