* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* intially styling for body */

body {
    text-align: center;
    font-family: "antiquarian", sans-serif;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
}

/* style for heading and score */
header {
    height: 15vh;
    align-self: center;
}

.score {
    height: 20vh;
}

.input-area {
    height: 60vh;
}

h1 {
    font-size: 300%;
    padding-top: 5%;

}

h2 {
    font-size: 600%;

}

/* style for score area */

p {
    font-size: 200%;
}

.points {
    font-size: 500%
}

button {
    width: 3em;
    height: 2em;
    margin: 1em;
    font-family: "antiquarian", sans-serif;
    font-size: 100%;
}

.clear {
    font-size: 125%;
}

.input-area {
    display: flex;
    flex-flow: row;
    height: 50vh;
}

.input-area>div {

    text-align: center;
    width: 25%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
}

@media screen and (orientation: portrait) {

    .input-area>div {
        width: 50%;
    }

    .input-area {
        flex-flow: row wrap;
    }

    header {
        height: 15vh;
    }

    .score {
        height: 10vh;
    }

    .input-area {
        height: 65vh;
    }
}